/* global expect:true */
/* global shallow:true */

import React from 'react';//eslint-disable-line

import About from '../../src/components/static/About.component.jsx';

describe('<About />', () => {
  it('should have a heading text of h2', () => {
    const wrapper = shallow(
      <About />
    );
    expect(wrapper.find('h2')).to.have.length(1);
  });
});
