/* global expect:true */
/* global shallow:true */

import React from 'react';//eslint-disable-line

import Home from '../../src/components/Home.component.jsx';

describe('<Home />', () => {
  it('should have a heading text', () => {
    const wrapper = shallow(
      <Home />
    );
    expect(wrapper.props()).to.have.property('children');
  });
});
